{% extends 'ElectronicJournal/base.html' %}
{% load static %}

{% block head %}
<link type="text/css" href="{% static 'ElectronicJournal\css\TestStyle.css' %}" rel="stylesheet" >

{% endblock head %}

{% block main %}

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>id группы</th>
      <th>Чат id</th>
    </tr>
  </thead>
  <tbody>
    {% for student in students %}
    <tr>
      <th>{{student.personid}}</th>
      <th>{{student.lastname}}</th>
      <th>{{student.firstname}}</th>
      <th>{{student.groupid}}</th>
      <th> <input type="text">  {{student.chatid}}</th>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock main %}